extends layout.pug 

block table 
  h2 Table 
  table.table.table-striped
    tr
      th Name
      th Price 
      th URL

      tr
        td= name 
        td= price
        td
          img(src=URL  style='width:50px; height:50px;')
    
   
 
